<div class="container pt-5 text-white">
  <h3>Registro de Eventos</h3>

  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
    <div class="form-group mt-4">
      <label for="txtDescripcion">Descripción evento</label>
      <input
        [class.is-invalid]="
          miFormulario.get('descripcion')?.touched &&
          miFormulario.get('descripcion')?.invalid
        "
        formControlName="descripcion"
        type="text"
        class="form-control"
        id="txtDescripcion"
        autofocus
        autocomplete="off"
      />
    </div>

    <div class="form-group mt-4">
      <label for="lblTipoEvento">Tipo de Evento</label>
      <select
        name="selectTipoEvento"
        (change)="changeEventType($event)"
        formControlName="tipoEvento"
        class="form-select"
        aria-label="Tipo de evento"
      >
        <option value="" disable>-Seleccione-</option>
        <option *ngFor="let event of eventTypeList" [ngValue]="event.id">
          {{ event.value }}
        </option>
      </select>
    </div>

    <div class="mt-5">
      <button type="submit" class="btn btn-secondary w-100">Guardar</button>
    </div>
  </form>

</div>

<app-table-event></app-table-event>
